.anim-items {
    opacity: 0;
    transition: all 1.5s ease;
}

.intro__text { transform: translateY(100%); }
.about { transform: translateY(30%); }
.slider { transform: translateY(10%); }
.prices__inner { transform: translateX(-100%); }
.form__inner { transform: translateY(50%); }

.anim-items.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}