@keyframes video-360 {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes video-360-ios {
	0% { opacity: 0; }
	100% { 
        opacity: 1; 
        pointer-events: all;
    }
}

.anim-items {
    opacity: 0;
    transition: all 1.5s ease;
}

.intro__text { transform: translateY(100%); }
.about { transform: translateY(30%); }
.slider { transform: translateY(10%); }
.prices__inner { transform: translateX(-100%); }
.form__inner { transform: translateY(50%); }
.integration__inner { transform: translateY(50%); }

.anim-items.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.slider.show .slider__360-tooltip,
.slider.show .slider__360-ios-tooltip {
    opacity: 0;
    pointer-events: none;
}

.slider.show .slider__360-tooltip { animation: video-360 1.2s ease-in-out 0s 2 normal forwards; }
.slider.show .slider__360-ios-tooltip { animation: video-360-ios 1.2s ease-in-out 0s 1 normal forwards; }