.radius-10 { border-radius: 10px; }
.radius-20 { border-radius: 20px; }
.flexed { display: flex; }
.text-left { text-align: left; }
.bold { font-weight: 700; }

.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }

.ml-10 { margin-right: 10px; }
.ml-20 { margin-right: 20px; }
.ml-30 { margin-right: 30px; }