@media (max-width: 1100px) {
    .review__form__item > label { font-size: .9rem; }
    
    .prices__inner { 
        flex-direction: column;
        gap: 3rem;
    }
}

@media (max-width: 1000px) {
    /* Nav */
    .nav {
        display: none !important;
        width: calc(100% + 65rem);
        text-align: right;

        position: absolute;
        top: 65px;
        right: -32px;
        padding-right: 2rem;

        background-color: transparent;
    }

    .header.fixed .nav { background-color: var(--color-blue-900); }

    .nav.active,
    .nav-toggle { display: block !important; }

    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 0;
    }

    .order__call {
        flex-direction: column;
        align-items: end;
        gap: 0;
        margin: 1rem 0;
    }

    .order__call > div {
        flex-direction: column;
        text-align: right;
    }

    .order__call .button { margin-right: -15px; }
}

@media (max-width: 800px) {
    .form__inner { 
        flex-direction: column; 
        gap: 3rem;
    }

    .title { font-size: 2rem; }
}

@media (max-width: 600px) {
    .header__logo {
        width: 40px;
        height: 40px;
    }

    .nav { top: 50px; }
    .slider__video { height: 500px !important; }
    .slider__360-tooltip { height: 500px !important; }
    .slider__360-tooltip > span { bottom: 170px }
}

@media (max-width: 700px) {
    .about__photos { flex-direction: column; }
    .about__photos .photo { width: 100%; }
}

@media (max-width: 500px) {
    .intro__text { bottom: 8rem; }
    .title { font-size: 1.5rem; }
    .subtitle.subtitle--large { font-size: 1.2rem; }
}

@media (max-width: 400px) {
    .intro__title { font-size: 1.3rem; }
    .slider__video { height: 400px !important; }
    .slider__360-tooltip { height: 400px !important; }
    .slider__360-tooltip > span { bottom: 130px }
}