:root {
    /* Base */
    --color-background: hsla(0, 0%, 95%, 1); 
    --color-text:  hsla(202, 20%, 15%, 1);

    /* Colors */
    --color-blue-300: hsla(202, 39%, 90%, 1);
    --color-blue-600: hsla(202, 15%, 58%, 1);
    --color-blue-900: hsla(208, 18%, 46%, 1);

    --color-gray-100: hsla(202, 0%, 90%, 1);
    --color-gray-300: hsla(202, 0%, 75%, 1);
    --color-gray-300: hsla(202, 0%, 75%, 1);
    --color-gray-900: hsla(202, 0%, 29%, 1);

    --color-black: hsla(0, 0%, 0%, 1);
    --color-white: hsla(255, 100%, 100%, 1);

    --color-youtube: #ff0000;

    /* Alpha */
    --color-blue-900-alpha-7: hsla(208, 18%, 46%, .7);
    --color-text-alpha-7:  hsla(202, 20%, 15%, .7);

    --color-gray-900-alpha-2: hsla(202, 0%, 29%, .2);
    --color-gray-900-alpha-5: hsla(202, 0%, 29%, .5);
    --color-gray-900-alpha-7: hsla(202, 0%, 29%, .7);

    --color-black-alpha-7: hsla(0, 0%, 0%, .7);
}